<!DOCTYPE html>
<html>
  <head>
    <title>List</title>
    <body>
      <h2>Link</h2>
      <a href="List.html#Tutorial Membuat nasi Pulen">Tutorial Membuat Nasi Pulen</a>
      <!-- list yang berurutan (ondered list)-->
      <h1>Tutorial Membuat Nasi Pulen</h1>
      <ol>
        <li>ambil beras</li>
        <li>Cuci beras sampai tidak ada sisa kotoran di dalam beras</li>
        <li>Ambil air secukupnya, Lalu panaskan di dalam panci</li>
        <li>Tunggu 15 Menit</li>
        <li>Pindah Nasi ke dalam microwave</li>
        <li>tunggu hingga matnag</li>
        <!-- list yang tidak berurutan(Underoded List) -->
      </ol>
      <h2 id="Tutorial Membuat Nasi Pulen">Tutorial Membuat Nasi Pulen</h2>
      <ul>
        <li>ambil beras</li>
        <li>Cuci beras sampai tidak ada sisa kotoran di dalam beras</li>
        <li>Ambil air secukupnya, Lalu panaskan di dalam panci</li>
        <li>Tunggu 15 Menit</li>
        <li>Pindah Nasi ke dalam microwave</li>
        <li>tunggu hingga matnag</li>
        <ul
          <li><abbrv title="Nasi Lemak">NS</abbrv></li>
          <li><abbrv title="Nasi Uduk">NU</abbrv></li>
        </ul>
        <!-- List untuk definisi (defintion list) -->
        <dl>
            <dd>Dalam sehari hari kita merupakan sosok orang yang sangat gemar belajar dan <br>pada dasarnya manusia merupakan bagian dari tanah yang busuk.</dd>
            <dt>dalam sehari-hari kita akan menemukan yang namanya belajar mengajar yang baik</dt>
        </dl>
    </body>
  </head>
</html>